%section.copy
  = image_tag URL.assets('alexandra-farias.jpg')
  %p I love taking pictures of people. Since the moment I was introduced to photography, I was always intrigued by people’s expressions and behavior. 
  %p I studied marketing in college and then after working at a winery distributing company, I decided to follow my passion and do what I love, so I came to San Francisco and did my masters in photography at the Academy of Art University. 
  %p My approach to photography is very natural and has a documentary quality. I think people feel very comfortable with me and it’s sort of like I am entering into their private space, which makes the images look that more intimate and evoke more emotions, which clients always love.  
  %ul
    %li 415-806-7740
    %li #{mail_to "alexandra@alexandrafarias.com"}
    %li= link_to "Facebook", "http://facebook.com/alexandrafariasphotography"
    %li= link_to "Blog", "http://alexandrafarias.tumblr.com"
