%section.copy
  %h2 Private Tutoring for Creative Kids
  %p The goal is for kids to have fun with the camera, build their creative eye, and tell a story through photography.
  %p Complete workshop is 4 two hour sessions starting in October/November and ending in December. 
  %p The schedule is flexible and can adjust depending on parents and kids schedules. We meet once a week for a two-hour session. 
  %p Location: Private tutoring classes will be held in parents' homes, with exception of a class or two where we will go out to take pictures.
  %p Age: 6 to 12 years
  %h2 Description of Course
  %p This photo workshop will help kids express themselves through photography. They will learn the basics of photography, how to use and describe the parts of a camera, and how to make a photograph that tells a story. They will also learn to be aware of light, composition and camera angles on top of the emotions and artistic message a photograph should convey. 
  %h2 Details 
  %ul
    %li Digital point and shoot required (not DSLR)
    %li By the end of the workshop, kids will have made an album with photos of all the assignments that they photographed (included with the workshop fee).
    %li Framed photos will be available for purchase.
    %li Kids will be encouraged to submit photos to the 2012 National Geographic International Photography Contest for Kids. Deadline to submit Nov 7, 2012. 
  %h2 Example syllabus
  %p #{link_to "Download the PDF", URL.assets("alexandra-farias-photography-syllabus.pdf")} of an example class syllabus.