%section.copy
  %h2 Private Tutoring for Creative Kids
  %p The goal is for kids to have fun with the camera, build their creative eye, and tell a story through photography. Over a series of sessions, kids will make an album with photos of all the assignments that they photographed.
  %p I offer individual tutoring sessions as well as multi-session workshops. Typically, I meet students once a week for a two-hour session. The schedule is flexible and can adjust depending on parents' and kids' schedules.
  %p Location: Private tutoring classes will be held in parents' homes and/or offsite locations (e.g., parks)
  %p Age: 6 and up
  %p Payment: $75/class. Discounts are available for multiple sessions. Payment is expected at the start of class. I accept all major credit cards.
  %h2 Description of Course
  %p This photo workshop will help kids express themselves through photography. They will learn the basics of photography, how to use and describe the parts of a camera, and how to make a photograph that tells a story. They will also learn to be aware of light, composition and camera angles on top of the emotions and artistic message a photograph should convey.
  %h2 Details
  %ul
    %li Digital point and shoot required (not DSLR)
    %li Framed photos will be available for purchase.
    %li Kids will be encouraged to submit photos to the 2012 National Geographic International Photography Contest for Kids. Deadline to submit Nov 7, 2012.
  %h2 Example syllabus
  %p #{link_to "Download the PDF", URL.assets("alexandra-farias-photography-syllabus.pdf")} of an example class syllabus.
