%section.copy
	= image_tag URL.assets("sadie_park_sky_sanfrancisco.jpg"), :width => 600, :height => 400
	%p Portrait sessions for kids and families start at $250 during weekdays (Monday to Thursday) and $300 on weekends (Friday to Sunday) for up to 4 people. Each additional person is $25. Portrait sessions for newborns are $350.
	%p Before your session, we'll discuss the mood and look you prefer, as well as clothing and props. Your ideas and taste are important to your portrait session. Your input will help me create images that capture your family's natural personality.
	%p The session fee covers the consultation, equipment, local travel (within 20 miles of San Francisco), post-processing of images (including professional retouching), and an online slideshow of the session. 20 final, fully enhanced, high resolution images will be delivered electronically. The fee does not include prints.
	%p Sessions typically run for an hour but can last 2-3 hours for newborns. All sessions are  on location. Your home can be a great setting for kids portrait sessions because they will feel comfortable and natural. Fun places like a park or the beach can showcase your child's  exuberance and curiosity.  
	%p To book a session just call or email me to set up a time and date. Photos should be paid in full the day of the session. Please allow 1-2 weeks after the session to view your gallery online. Images will be delivered electronically two weeks after the session.

