- width = @photos.map{ |p| p.width_and_margin }.inject(:+) + 50
%section.photo_viewer.clearfix{style: "width: #{width}px;"}
  - @photos.each do |photo|
    = image_tag photo.url, :width => photo.width, :height => 600

%footer.horizontal_scroll
  %p.copyright © Alexandra Farias Photograpy, 2010-#{Time.now.year}

:javascript
  $(function() {
     $("body").mousewheel(function(event, delta) {
        this.scrollLeft -= (delta * 30);
        event.preventDefault();
     });
  });
