/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "global/colors";
@import "global/mixins";
@import "global/reset";

body {
	@include font-sans-serif;
	color: $text;
}

a {
  color: $text;
  text-decoration: none;
  a:hover {
    color: black;
  }
}

.container {
	width: 1000px;
	margin: 100px auto;
}

.clearfix {
  @include clearfix;
}

#home {
  $portrait_width: 250px;
  $portrait_margin: 15px;

  .logo {
    text-align: center;
  }

	@include container($portrait_width * 3 + $portrait_margin * 2);

  .portrait_type {
    float: left;
    text-align: center;
    margin-right: $portrait_margin;
    &.last {
      margin-right: 0px;
    }
    p {
      margin-top: 10px;
    }
  }


	footer {
    margin-top: 200px;
    text-align: center;
	}
}


ul.inline {
  li {
    display: inline;
    padding-right: 15px;
  }
}
#navigation {
  float: left;
  margin: 0 65px 0 10px;
  h2 {
    font-weight: bold;
  }
  ul {
    margin: 10px 0 25px;
    list-style-type: circle;
  }
  li {
    margin: 5px 0;
    padding-left: 15px;
  }
}
.horizontal_scroll {
  width: 75000px;
  position: absolute;
  top: 50%;
  height: 600px;
  margin-top: -300px;
}

.horizontal_scroll_logo {
  position: fixed;
  left: 50%;
  margin-left: -200px;
}

