/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "global/colors";
@import "global/mixins";
@import "global/reset";

body {
	@include font-sans-serif;
	color: $text;
  line-height: 1.2em;
  letter-spacing: 1px;
}

a {
  color: $text;
  text-decoration: none;
  &:hover {
    color: orange;
  }
  &:active {
    position: relative;
    top: 1;
    left: 1;
  }
}

.container {
	width: 1000px;
	margin: 100px auto;
}

.clearfix {
  @include clearfix;
}

#home {
  $portrait_width: 250px;
  $portrait_margin: 15px;
  $number_of_portraits: 4;

  .logo {
    text-align: center;
  }

	@include container($portrait_width * $number_of_portraits + $portrait_margin * ($number_of_portraits - 1));

  .portrait_type {
    float: left;
    text-align: center;
    margin-right: $portrait_margin;
    &.last {
      margin-right: 0px;
    }
    img:hover {
      @include box-shadow;
    }
    p {
      margin-top: 10px;
    }
  }

	footer {
    margin: 100px auto;
    text-align: center;
    width: 500px;
    p {
      padding-bottom: 100px;
    }
	}
}


$nav_width: 150px;
$nav_padding_left: 30px;
$nav_padding_right: 30px;
$nav_margin_top: 140px;
$viewer_margin: $nav_width + $nav_padding_left + $nav_padding_right;
$viewer_height: 600px;

.side_navigation {
  position: fixed;
  left: 0;
  background-color: white;
  z-index: 2;
  width: $nav_width;
  padding-left: $nav_padding_left;
  padding-right: $nav_padding_right;
  margin-top: $nav_margin_top;
  height: 600px;
  h2 {
    font-weight: bold;
    margin-top: 25px;
    &.first {
      margin-top: 0;
    }
  }
  ul {
    margin: 10px 0 0;
  }
  li {
    margin: 5px 0;
    padding-left: 15px;
  }
}

.side_navigation_body {
  margin-left: $viewer_margin;
  top: $nav_margin_top;
  position: absolute;
}

.photo_viewer {
  height: $viewer_height;
  width: 5000px;
  img {
    float: left;
    margin-right: 3px;
  }
}

.horizontal_scroll_logo {
  position: fixed;
  text-align: center;
  width: 100%;
  height: $nav_margin_top;
  background-color: white;
  z-index: 2;
}

footer.horizontal_scroll {
  position: fixed;
  top: $nav_margin_top + $viewer_height + 100px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  text-align: center;
}

.copyright { 
  font-size: 11px;
}

.copy {
  margin-right: $viewer_margin;
  h2 {
    font-weight: bold;
  }
  img {
    margin: 0 auto;
    display: block;
  }
  h2, img, p, li {
    margin-bottom: 20px;
  }
}